header{
    max-width: 1441px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_of_section.head{
    justify-content: space-between;
    margin: 0;
    padding-bottom: 0;
}

.cursor_pointer{
    cursor: pointer;
}

.laslesVPN{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #0B132A;
    cursor: pointer;
}

.laslestext{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 500;
}

.VPNtext{
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.logo_image{
}

.header_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.header_button{
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header_button:last-child{
    margin-right: 0;
}

.sign_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

.signIn_button{
    cursor: pointer;
    margin: 0 20px;
    font-weight: 700;
}

.signUp_button{
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    border: solid red 1px;
    padding: 10px 30px;
    font-weight: 700;
    color: #F53855;
}

.menu_button{
    display: none;
}

.image_of_menu{
    max-width: 40px;
}

@media screen and (max-width: 950px){
    .menu_button{
        display: block;
        position: relative;
    }
    .header_buttons{
        display: none;
    }
}

@media screen and (max-width: 473px){
    .sign_buttons{
        display: none;
    }
}

@media screen and (max-width: 950px){
    .header_button{
        margin: 0 auto;
    }
}