.listItem{
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    width: 20%;
}

.stupidText{
    text-align: left;
    margin: auto;
    font-size: 15px;
}

.pricePart{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}

.lst{
    margin-top: 10px;
    width: 80%;
}