.Tile{
    width: 220px;
    text-align: center;
}

.Tile1{
    width: 220px;
    text-align: center;
}

.Tile:hover{
    border: 1px solid red;
    border-radius: 15px;
}

.tile_text{
    margin-top: 10px;
    width: 100%;
}

.tile_heading{
    margin-top: 10px;
}

.tile_list{
    display: flex;
    justify-content: space-between;
}

.more_btn_div{
    width: max-content;
    margin: 20px auto;
}