body{
    display: flex;
}

#screen{
    width: 50%;
}

.Form{
    border-left-width: 2px;
    width: 50%;
}

.Form-element{
    margin: auto;
    width: max-content;
    margin-bottom: 10px;
}

.button{
    margin: auto;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
}

.content{
    margin: auto auto;
}

table{
    border: solid black;
    margin: 20px auto;
}