#screen{
    width: max-content;
}
#screen-editing{
    width: max-content;
}

.Form{
    width: max-content;
}

.Form-element{
    margin: auto;
    width: max-content;
    margin-bottom: 10px;
}

.button{
    margin: auto;
    background-color: orange;
    font-size: 20px;
    padding: 10px;
}

.home-content{
    padding-top: 50px;
    display: flex;
    width: max-content;
    margin: auto;
}

table{
    border: solid black;
    margin: 20px auto;
}

.link{
    padding: 0 100px;
}

.navigation{
    margin: auto;
    width: max-content;
}

.field-label{
    margin: 0 auto;
    width: max-content;
}

.field{
    width: max-content;
    margin: 40px auto;
}

.adding-form{
    margin: 50px auto;
    border: solid 2px gray;
    width: max-content;
    height: 421px;
    padding: 0 20px;
    border-radius: 20px;
}

.editing-form{
    width: max-content;
    display: flex;
    margin: auto;
    padding-top: 50px;
}

.divide{
    width: 200px;
}